<p class="text-lg text-center text-gray-800 mb-6">Hello <%= @resource.email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p class="text-center text-gray-600 mb-6">We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p class="text-center text-gray-600 mb-6">We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
